{% load static %}
<footer>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/foot.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Markcheap company is very cheap rate provide all type website for example - software,website many more so just contact our support team.
            </p>
            <ul class="sci">
                <li><a href="https://www.facebook.com/markcheap/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/Markcheap?s=09"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/invites/contact/?i=1uvv668qjwrh2&utm_content=m4dh6yi"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
        </div>
        <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms & Consitions</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span><br>815357 Jharkhand State</br>INDIA</span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p><a href="tel:+919572990020">+919572990020</a><br>
                <a href="tel:+918709440658">+918709440658</a></p>
                </li>
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <p><a href="mailto:help@markcheap.com">help@markcheap.com</a></p>
                </li>

            </ul>
            

        </div>
        

    </div>

</footer>  
<div class="copyrightText">
    <p>All Right Reserved &copy; 2020-2021</p>
</div>   

